body {
  background-color: white;
  font-family: arial, helvetica;
}

h1 {
  color: navy;
  font-size:32px;
}
.mymargin {
    margin: 50px;
    
}
.grids-example {
      background: rgb(250, 250, 250);
      margin: 10px auto;            
      font-family: Roboto, 'Liberation Mono', Courier, monospace;
      text-align: center;					
      }	
.graybox {
      background: rgb(240, 240, 240);
      border: 1px solid #ddd;			
      }	 